<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Mockup</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div class="logo">Google</div>
    <div class="search-bar">
      <input type="text" placeholder="Search Google or type a URL">
    </div>
    <div class="quick-links">
      <div class="link">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/YouTube_icon_%282013-2017%29.png" alt="YouTube">
        <span>YouTube</span>
      </div>
      <div class="link">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/368px-Google_2015_logo.svg.png" alt="Google">
        <span>Google</span>
      </div>
      <div class="link">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="Netflix">
        <span>Netflix</span>
      </div>
      <div class="link">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook">
        <span>Facebook</span>
      </div>
      <div class="link">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub">
        <span>GitHub</span>
      </div>
    </div>
  </div>
</body>
</html>
